<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">
                <strong>{{ course.name }}</strong>
            </h2>
            <hr>
            <p>{{ course.description }}</p>
            <p ng-show="course.goal">{{ course.goal }}</p>
        </div>

        <div class="col-lg-12 text-center" ng-show="course.lectures">
            <br>
            <hr>
            <h2 class="intro-text">Lectures</h2>
            <hr>
        </div>

        <div class="col-lg-12" ng-repeat="item in course.lectures">
            <lecture lecture="{{ item }}"></lecture>
        </div>

        <div class="col-lg-12 text-center" ng-show="course.files">
            <br>
            <hr>
            <h2 class="intro-text">Files</h2>
            <hr>
        </div>

        <div class="col-lg-12" ng-repeat="file in course.files">
            <course-file file="{{ file }}"></course-file>
        </div>

        <div class="col-lg-12 text-center" ng-show="course.laboratories">
            <br>
            <hr>
            <h2 class="intro-text">Laboratories</h2>
            <hr>
        </div>

        <div class="col-lg-12" ng-repeat="item in course.laboratories">
            <lecture lecture="{{ item }}"></lecture>
        </div>

        <div class="col-lg-12 text-center" ng-show="course.resources">
            <br>
            <hr>
            <h2 class="intro-text">Additional resources</h2>
            <hr>
        </div>

        <div class="col-lg-12" ng-repeat="resource in course.resources">
            <additional-resource resource="{{ resource }}"></additional-resource>
        </div>

        <div class="col-lg-12 text-center" ng-show="course.literature">
            <br>
            <hr>
            <h2 class="intro-text">Literature</h2>
            <hr>
        </div>

        <div class="col-lg-12" ng-repeat="lit in course.literature">
            <course-literature literature="{{ lit}}"></course-literature>
        </div>
    </div>
</div>