<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">My
                <strong>presentations</strong>
            </h2>
            <hr>
        </div>

        <div class="col-lg-12 text-center">
            <h2>JUnit5 - what's new?
                <br>
                <small>November 18, 2017</small>
            </h2>
            <p>Presentation demonstrating new features and breaking changes in JUnit - most popular unit testing framework for Java given at <a href="http://careercon.pl/en/conference/kariera-it-gdansk-18-11-2017/" target="_blank">Kariera IT | Gdańsk</a> conference.</p>
            <p>Slides can be found <a href="presentations/2017-11-18_JUnit5_whats_new.pdf" target="_blank">here</a>. Repository used during presentation can be found <a href="https://github.com/infoshareacademy/isa-junit-5-whats-new" target="_blank">here</a>.</p>
            <hr>
        </div>
        <div class="col-lg-12 text-center">
            <h2>Myth of work-life balance
                <br>
                <small>September 18, 2017</small>
            </h2>
            <p>Presentation about myth of work-life balance and how following it can be destructive to our productivity and creativity given at <a href="https://gdansk.4developers.org.pl" target="_blank">4Developers Gdańsk</a> conference.</p>
            <p>Slides can be found <a href="presentations/2017-09-18_Myth_of_work_life_balance.pdf" target="_blank">here</a>.</p>
            <hr>
        </div>
        <div class="col-lg-12 text-center">
            <h2>Continous Integration in practice
                <br>
                <small>June 06, 2017</small>
            </h2>
            <p>Presentation about daily aspects of working with Continous Integration practice from eXtreme Programming. Presentation done for <a href="https://www.meetup.com/Trojmiasto-Java-User-Group/events/240231523" target="_blank">JUG Academy</a>.</p>
            <p>Slides can be found <a href="presentations/2017-06-06_Continous_Integration_in_practice.pdf" target="_blank">here</a>.</p>
            <hr>
        </div>
        <div class="col-lg-12 text-center">
            <h2>IoC containers in practice
                <br>
                <small>May 26, 2017</small>
            </h2>
            <p>Presentation about Inversion of Control containers in practice (based on .NET Ninject framework) done as part of <a href="https://www.facebook.com/events/1933954013557614" target="_blank">Zakręć się z technologią</a> held at <a href="http://eti.pg.edu.pl" target="_blank">Faculty of Electronics, Telecommunications and Informatics</a> at Gdańsk University of Technology.</p>
            <p>Slides can be found <a href="presentations/2017-05-26_IoC_containers_in_practice.pdf" target="_blank">here</a>.</p>
            <hr>
        </div>
        <div class="col-lg-12 text-center">
            <h2>Introduction to git
                <br>
                <small>March 18, 2017</small>
            </h2>
            <p>Presentation used during workshops introducing new users to distributed version control system - git. Workshops done as part of <a href="http://konferencjabeit.pl" target="_blank">Konferencji Inżynierii Oprogramowania beIT'17</a> held at <a href="http://eti.pg.edu.pl" target="_blank">Faculty of Electronics, Telecommunications and Informatics</a> at Gdańsk University of Technology.</p>
            <p>Slides can be found <a href="presentations/2017-03-18_Introduction_to_git.pdf" target="_blank">here</a>.</p>
            <hr>
        </div>
        <div class="col-lg-12 text-center">
            <h2>From being student to ... - the road so far
                <br>
                <small>February 16, 2017</small>
            </h2>
            <p>Presentation describing my path from being student to being team leader / frontend developer - most of my mistakes during this journey. Presentation done for <a href="http://ponadprogram.kuznia.co" target="_blank">PonadProgram</a>.</p>
            <p>Slides can be found <a href="presentations/2017-02-16_From_being_student_to.pdf" target="_blank">here</a>.</p>
            <hr>
        </div>
        <div class="col-lg-12 text-center">
            <h2>Introduction to git
                <br>
                <small>October 20, 2016</small>
            </h2>
            <p>Presentation used during workshops introducing new users to distributed version control system - git. Workshops done as part of <a href="http://codeweek.inkubatorstarter.pl" target="_blank">CodeWeek 2016</a> held at <a href="http://inkubatorstarter.pl" target="_blank">Inkubator Starter</a>.</p>
            <p>Slides can be found <a href="presentations/2016-10-20_Introduction_to_git.pdf" target="_blank">here</a>.</p>
            <hr>
        </div>
        <div class="col-lg-12 text-center">
            <h2>From student to developer - ordeal or maybe not?
                <br>
                <small>June 6, 2016</small>
            </h2>
            <p>Presentation describing my path from being student to being developer - if it was all ordeal or maybe not? Presentation done for <a href="http://eti.pg.edu.pl" target="_blank">Faculty of Electronics, Telecommunications and Informatics</a> at Gdańsk University of Technology.</p>
            <p>Slides can be found <a href="presentations/2016-06-06_From_student_to_developer.pdf" target="_blank">here</a>.</p>
            <hr>
        </div>
        <div class="col-lg-12 text-center">
            <h2>Build your own CLI tool
                <br>
                <small>April 25, 2016</small>
            </h2>
            <p>Presentation about building command line tools with npm and task runners like Grunt for JavaScript applications. Presentation done for <a href="https://www.facebook.com/events/1789082314657440/" target="_blank">meet.js Gdańsk #12</a>.</p>
            <p>Slides can be found <a href="presentations/2016-04-25_Create_your_CLI_tool.pdf" target="_blank">here</a>. Repositories used for presentation are hosted on GitHub and can be found <a href="https://github.com/Solwit/meetjs-cli" target="_blank">here</a> and <a href="https://github.com/Solwit/meetjs-cli-app" target="_blank">here</a>.</p>
            <hr>
        </div>
        <div class="col-lg-12 text-center">
            <h2>Frontend application development stack for beginners
                <br>
                <small>April 21, 2016</small>
            </h2>
            <p>Workshops introducing basic frontend application development stack for beginners including tools and frameworks like npm, Grunt, Jasmine, Karma, AngularJS, RequireJS with AMD modules and many more. Workshops done for <a href="http://netvision.pl" target="_blank">NetVision'16 conference</a>.</p>
            <p>Slides can be found <a href="presentations/2016-04-21_NetVision16.pdf" target="_blank">here</a>. Repository used during workshops is hosted on GitHub and can be found <a href="https://github.com/Solwit/netvision16-frontend-app-stack" target="_blank">here</a>.</p>
            <hr>
        </div>
        <div class="col-lg-12 text-center">
            <h2>Introduction to build systems - Apache Ant
                <br>
                <small>January 22, 2015</small>
            </h2>
            <p>Presentation introducing JVM build tools shown on the example of Apache Ant. Presentation done for <a href="http://sftatom.mif.pg.gda.pl" target="_blank">KNSF SFT 'ATOM'</a> at Gdańsk University of Technology.</p>
            <p>Slides can be found <a href="presentations/2015-01-22_Introduction_to_build_tools_Apache_Ant.pdf" target="_blank">here</a>. Repository used during presentation is hosted on GitHub and can be found <a href="https://github.com/Smoczysko/introduction-to-build-tools" target="_blank">here</a>.</p>
            <hr>
        </div>
        <div class="col-lg-12 text-center">
            <h2>Introduction to build systems - Apache Maven
                <br>
                <small>January 15, 2015</small>
            </h2>
            <p>Presentation introducing JVM build tools shown on the example of Apache Maven. Presentation done for <a href="http://sftatom.mif.pg.gda.pl" target="_blank">KNSF SFT 'ATOM'</a> at Gdańsk University of Technology.</p>
            <p>Slides can be found <a href="presentations/2015-01-15_Introduction_to_build_tools_Apache_Maven.pdf" target="_blank">here</a>. Repository used during presentation is hosted on GitHub and can be found <a href="https://github.com/Smoczysko/introduction-to-build-tools" target="_blank">here</a>.</p>
            <hr>
        </div>
        <div class="col-lg-12 text-center">
            <h2>Introduction to Continuous Integration
                <br>
                <small>May 20, 2014</small>
            </h2>
            <p>Presentation about basics of Continous Integration practice in Extreme Programming and introduction to Jenkins CI server. Presentation done for <a href="http://trojmiasto.jug.pl/calendar/projects/student-initiative/" target="_blank">Tricity Java User Group "Student Initiative"</a>.</p>
            <p>Slides can be found <a href="presentations/2014-05-20_Introduction_to_Continous_Integration.pdf" target="_blank">here</a>.</p>
            <hr>
        </div>
        <div class="col-lg-12 text-center">
            <h2>Introduction to Agile/Scrum/Kanban
                <br>
                <small>April 8, 2014</small>
            </h2>
            <p>Presentation about basics of Agile, Scrum and Kanban practices. Presentation done for <a href="http://trojmiasto.jug.pl/calendar/projects/student-initiative/" target="_blank">Tricity Java User Group "Student Initiative"</a>.</p>
            <p>Slides can be found <a href="presentations/2014-04-08_Introduction_to_Agile_Scrum_Kanban.pdf" target="_blank">here</a>.</p>
            <hr>
        </div>
    </div>
</div>